.vscode
.ionide
*/__pycache__
*.cpp
*.cs
.vs/
*.rs

tests/build/**
!tests/build/GenerateProjects**

**/rust**/target
**/*.rs.bk
!tests/results/rust/build.rs
!tests/results/rust/src/lib.rs
!tests/results/rust/src/main.rs
!tests/results/rust/Cargo.toml
Cargo.lock

# when as submodule
__pycache__