.vscode
.ionide
*/__pycache__
.vs/
*.rs

tests/Build/**

!tests/Build/GenerateProjects**

**/rust**/target
**/*.rs.bk
!tests/results/rust**/build.rs
!tests/results/rust/src/lib.rs
!tests/results/rust_caller/src/main.rs
!tests/results/rust/Cargo.toml
Cargo.lock

# when as submodule
__pycache__